.calculator-container {
    padding: 48px 4%;
    background-color: var(--brand-red);

    & .calculator-title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 500;
        margin-bottom: 48px;
    }
}

.calculator-form-container {
    display: flex;
    flex-direction: column;

    & .calculator-form-button {
        width: 100%;
        max-width: 200px;
        background-color: var(--brand-black);
        border: 0;
        outline: none;
        padding: 8px 32px;
        cursor: pointer;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--brand-white);
        align-self: center;
        font-family: inherit;
    }

    & .calculator-form-button:hover {
        filter: brightness(90%);
    }

    & .calculator-text-field-container {
        display: flex;
        flex-direction: row;
    
        & .calculator-text-field-label {
            width: 100%;
            max-width: 300px;
            text-align: center;
            background-color: var(--brand-black);
            padding: 8px 56px;
            font-size: 1.5rem;
            font-weight: 500;
            color: var(--brand-white);

            @media screen and (max-width: 768px) {
                width: 100%;
                max-width: none;
            }
        }
    
        & .calculator-text-field {
            width: 100%;
            background-color: var(--brand-white);
            border: 0;
            outline: 0;
            padding: 8px 12px;
            font-size: 1.25rem;
        }

        & .calculator-select {
            position: relative;
            appearance: none;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    & .calculate-container {
        display: flex;
        flex-direction: row;
        align-self: center;

        & .calculator-text-field-readonly {
            width: 100%;
            max-width: 300px;
            background-color: var(--brand-white);
            border: 0;
            outline: 0;
            padding: 8px 12px;
            font-size: 1.25rem;
        }
    }
}

.calculator-form-container>:not(:last-child) {
    margin-bottom: 48px;
}

