.header {
    background: url("/assets/png/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    border-bottom: 1px solid var(--white);
    padding-inline: 2%;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    color: var(--white);

    & .navigation-logo {
        height: 82px;

        @media screen and (max-width: 768px) {
            height: 44px;
        }
    }

    & .navigation-section {
        display: flex;
        flex-direction: row;       
        justify-content: space-evenly;
        flex: 1; 
        font-size: 18pt;

        & .navigation-item {
            color: var(--white);
            text-decoration: none;
        }

        & .navigation-item:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 768px) {
            font-size: 12pt;
        }

        @media screen and (max-width: 320px) {
            display: none;
        }
    }

    & .burger-button {
        display: none;
        height: 32px;

        @media screen and (max-width: 320px) {
            display: block;
        }
    }
}

.company-slogan-container {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 18pt;
    padding-inline: 8%;
    padding-top: 224px;
    padding-bottom: 260px;

    @media screen and (max-width: 768px) {
        font-size: 12pt;
    }

    @media screen and (max-width: 320px) {
        font-size: 8pt;
    }

    & .line {
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
        background-color: var(--dark-blue);
        max-width: 610px;
        position: relative;

        & .slogan-text {
            position: absolute;
            margin-left: 2%;
            margin-right: -32px;
            width: 100%;
        }
    }
}

.header {
    background: url("/assets/png/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    border-bottom: 1px solid var(--white);
    padding-inline: 2%;
    padding-top: 10px;
    padding-bottom: 10px;

    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    color: var(--white);

    & .navigation-logo {
        height: 82px;

        @media screen and (max-width: 768px) {
            height: 44px;
        }
    }

    & .navigation-section {
        display: flex;
        flex-direction: row;       
        justify-content: space-evenly;
        flex: 1; 
        font-size: 18pt;

        & .navigation-item {
            color: var(--white);
            text-decoration: none;
        }

        & .navigation-item:hover {
            text-decoration: underline;
        }

        @media screen and (max-width: 768px) {
            font-size: 12pt;
        }

        @media screen and (max-width: 320px) {
            display: none;
        }
    }

    & .burger-button {
        display: none;
        height: 32px;

        @media screen and (max-width: 320px) {
            display: block;
        }
    }
}

.company-slogan-container {
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 18pt;
    padding-inline: 8%;
    padding-top: 224px;
    padding-bottom: 260px;

    @media screen and (max-width: 768px) {
        font-size: 12pt;
    }

    @media screen and (max-width: 320px) {
        font-size: 8pt;
    }

    & .line {
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
        background-color: var(--dark-blue);
        max-width: 610px;
        position: relative;

        & .slogan-text {
            position: absolute;
            margin-left: 2%;
            margin-right: -32px;
            width: 100%;
        }
    }
}
/* Стили для навигации */
.navigation-item {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
}

html {
    scroll-behavior: smooth;
}


.navigation-item[href="calc.html"] {
    color:  #0d0c55; 
}

.navigation-item[href="calc.html"]:hover {
    color: #0d0c55;
}


