.services-container {
    padding-inline: 2%;

    & .services-title {
        font-family: "Aclonica", sans-serif;
        color: var(--light);
        font-size: 32pt;
        margin-bottom: 64px;

        @media screen and (max-width: 768px) {
            font-size: 24pt;
        }
    
        @media screen and (max-width: 320px) {
            font-size: 18pt;
        }
    }
}

.grid-container {
    position: relative;
    
    & .grid-content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-self: center;
        gap: 32px 16px;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;

        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr 1fr;

            >:nth-last-child(-n+2) {
                display: none;
            }
        }
    
        @media screen and (max-width: 320px) {
            grid-template-columns: 1fr;

            >:nth-last-child(-n+5) {
                display: none;
            }
        }
    }
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background-color: var(--bg-dark);
    width: 100%;
    max-width: 200px;
    padding-top: 25px;
    padding-bottom: 25px;

    & .card-text {
        font-family: Arial, sans-serif;
        font-weight: 700;
        color: var(--white);
        padding-inline: 16px;
        font-size: 14pt;
        margin-bottom: 32px;
    }

    & .card-image {
        padding-inline: 6px;
        border-radius: 12px;
        width: 100%;
    }
}

.arrows-container {
    position: absolute;
    top: calc(50% - 24px);
    display: flex;
    width: 100%;
    justify-content: space-between;

    & .arrow-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    & :hover {
        cursor: pointer;
    }
}


.container {
    width: 1024px;
    height: 33px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 5px; /* Устанавливаем расстояние 5px между кнопками */
  }
  
  .btn {
    width: 140px;
    height: 34px; /* Начальная высота кнопок */
    font-size: 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    border: 2px solid #2E2BD0;
    background: transparent;
    cursor: pointer;
    word-wrap: break-word;
  }
  
  .btn-economic {
    color: #2E2BD0;
  }
  
  .btn-it {
    color: black;
    background: #2E2BD0;
    border-color: #2E2BD0;
  }
  
  .btn:hover {
    opacity: 0.8;
  }
  
  .btn:focus {
    outline: none;
  }
  
  /* Медиазапрос для экранов с шириной до 768px */
  @media (max-width: 768px) {
    .container {
      width: 100%;
      height: 100%;
      padding: 10px 0;
    }
  
    .btn {
      font-size: 18px;
      height: 32px; /* Уменьшаем высоту на 4 пикселя */
      line-height: 32px; /* Выравнивание текста по вертикали */
    }
  }
  
  /* Медиазапрос для экранов с шириной до 320px */
  @media (max-width: 320px) {
    .container {
      width: 100%;
      height: 100%;
      padding: 10px 0;
    }
  
    .btn {
      font-size: 16px;
      height: 28px; /* Уменьшаем высоту на 4 пикселя */
      line-height: 28px; /* Выравнивание текста по вертикали */
    }
  }
  