@charset "UTF-8";
:root {
  --bg-dark: #000000;
  --gold: #bdae82;
  --dark-blue: #0d0c55;
  --white: #fff;
  --blue: #2e2bd0;
  --light-blue: #9695e7;
  --light: #2F353F;
  --light-opacity70: #6d7178;
  --light-opacity50: #96999e;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.page {
  max-width: 1024px;
  margin-inline: auto;
  background-color: var(--white);
}

body {
  background-color: var(--white);
}

.custom-button {
  padding: 12px 32px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.custom-button .custom-label {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0%;
  font-size: 14pt;
  text-transform: uppercase;
  margin-right: 20px;
}
.custom-button .custom-icon {
  width: 24px;
  height: 24px;
}

.header {
  background: url("/assets/png/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--white);
  padding-inline: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  color: var(--white);
}
.navigation-container .navigation-logo {
  height: 82px;
}
@media screen and (max-width: 768px) {
  .navigation-container .navigation-logo {
    height: 44px;
  }
}
.navigation-container .navigation-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  font-size: 18pt;
}
.navigation-container .navigation-section .navigation-item {
  color: var(--white);
  text-decoration: none;
}
.navigation-container .navigation-section .navigation-item:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .navigation-container .navigation-section {
    font-size: 12pt;
  }
}
@media screen and (max-width: 320px) {
  .navigation-container .navigation-section {
    display: none;
  }
}
.navigation-container .burger-button {
  display: none;
  height: 32px;
}
@media screen and (max-width: 320px) {
  .navigation-container .burger-button {
    display: block;
  }
}

.company-slogan-container {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  color: var(--white);
  font-size: 18pt;
  padding-inline: 8%;
  padding-top: 224px;
  padding-bottom: 260px;
}
@media screen and (max-width: 768px) {
  .company-slogan-container {
    font-size: 12pt;
  }
}
@media screen and (max-width: 320px) {
  .company-slogan-container {
    font-size: 8pt;
  }
}
.company-slogan-container .line {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--dark-blue);
  max-width: 610px;
  position: relative;
}
.company-slogan-container .line .slogan-text {
  position: absolute;
  margin-left: 2%;
  margin-right: -32px;
  width: 100%;
}

.header {
  background: url("/assets/png/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--white);
  padding-inline: 2%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  color: var(--white);
}
.navigation-container .navigation-logo {
  height: 82px;
}
@media screen and (max-width: 768px) {
  .navigation-container .navigation-logo {
    height: 44px;
  }
}
.navigation-container .navigation-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  font-size: 18pt;
}
.navigation-container .navigation-section .navigation-item {
  color: var(--white);
  text-decoration: none;
}
.navigation-container .navigation-section .navigation-item:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .navigation-container .navigation-section {
    font-size: 12pt;
  }
}
@media screen and (max-width: 320px) {
  .navigation-container .navigation-section {
    display: none;
  }
}
.navigation-container .burger-button {
  display: none;
  height: 32px;
}
@media screen and (max-width: 320px) {
  .navigation-container .burger-button {
    display: block;
  }
}

.company-slogan-container {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  color: var(--white);
  font-size: 18pt;
  padding-inline: 8%;
  padding-top: 224px;
  padding-bottom: 260px;
}
@media screen and (max-width: 768px) {
  .company-slogan-container {
    font-size: 12pt;
  }
}
@media screen and (max-width: 320px) {
  .company-slogan-container {
    font-size: 8pt;
  }
}
.company-slogan-container .line {
  display: flex;
  align-items: center;
  height: 48px;
  width: 100%;
  background-color: var(--dark-blue);
  max-width: 610px;
  position: relative;
}
.company-slogan-container .line .slogan-text {
  position: absolute;
  margin-left: 2%;
  margin-right: -32px;
  width: 100%;
}

.services-container {
  padding-inline: 2%;
}
.services-container .services-title {
  font-family: "Aclonica", sans-serif;
  color: var(--light);
  font-size: 32pt;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .services-container .services-title {
    font-size: 24pt;
  }
}
@media screen and (max-width: 320px) {
  .services-container .services-title {
    font-size: 20pt;
  }
}

.grid-container {
  position: relative;
}
.grid-container .grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-self: center;
  gap: 32px 16px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .grid-container .grid-content {
    grid-template-columns: 1fr 1fr;
  }
  .grid-container .grid-content > :nth-last-child(-n+2) {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .grid-container .grid-content {
    grid-template-columns: 1fr;
  }
  .grid-container .grid-content > :nth-last-child(-n+5) {
    display: none;
  }
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  background-color: var(--bg-dark);
  width: 100%;
  max-width: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.card-item .card-text {
  font-family: Arial, sans-serif;
  font-weight: 700;
  color: var(--white);
  padding-inline: 16px;
  font-size: 14pt;
  margin-bottom: 32px;
}
.card-item .card-image {
  padding-inline: 6px;
  border-radius: 12px;
  width: 100%;
}

.arrows-container {
  position: absolute;
  top: calc(50% - 24px);
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.arrows-container .arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}
.arrows-container :hover {
  cursor: pointer;
}

.industries-section {
  padding-inline: 2%;
  padding-top: 80px;
  padding-bottom: 80px;
}
.industries-section .industries-title {
  font-family: "Aclonica", sans-serif;
  font-size: 45pt;
  color: var(--light);
}
@media screen and (max-width: 768px) {
  .industries-section .industries-title {
    font-size: 32pt;
  }
}
@media screen and (max-width: 320px) {
  .industries-section .industries-title {
    font-size: 24pt;
  }
}

.industries-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
@media screen and (max-width: 320px) {
  .industries-container {
    flex-direction: column; /* Секции идут одна под другой */
    gap: 20px; /* Уменьшаем расстояние между элементами */
  }
}
.industries-container .industry-card {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.industries-container .industry-card .industry-image {
  height: 41px;
  align-self: start;
}
.industries-container .industry-card .industry-title {
  font-family: "Aboreto", system-ui;
  text-transform: uppercase;
  font-size: 24pt;
  border-bottom: 1px solid var(--light);
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--light);
}
@media screen and (max-width: 768px) {
  .industries-container .industry-card .industry-title {
    font-size: 20pt;
  }
}
@media screen and (max-width: 320px) {
  .industries-container .industry-card .industry-title {
    font-size: 18pt;
  }
}
.industries-container .industry-card .industry-description {
  font-family: "Abril Fatface", serif;
  color: var(--light-opacity70);
  font-size: 16pt;
  padding-top: 32px;
}
@media screen and (max-width: 768px) {
  .industries-container .industry-card .industry-description {
    font-size: 14pt;
  }
}
@media screen and (max-width: 320px) {
  .industries-container .industry-card .industry-description {
    font-size: 12pt;
  }
}

.video-section {
  padding-inline: 2%;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
}
.video-section .video-title {
  font-family: "Aclonica", sans-serif;
  font-size: 45pt;
  color: var(--light);
  margin-bottom: 32px;
}
@media screen and (max-width: 768px) {
  .video-section .video-title {
    font-size: 32pt;
  }
}
@media screen and (max-width: 320px) {
  .video-section .video-title {
    font-size: 24pt;
  }
}
.video-section .video-container {
  display: block;
  align-self: center;
  max-width: 800px;
  width: 100%;
  border-radius: 12px;
}

.price-section {
  padding: 20px 2%;
  display: flex;
  flex-direction: column;
}
.price-section .price-section-title {
  font-family: "Aclonica", sans-serif;
  font-size: 45pt;
  color: var(--light);
}
@media screen and (max-width: 768px) {
  .price-section .price-section-title {
    font-size: 32pt;
  }
}
@media screen and (max-width: 320px) {
  .price-section .price-section-title {
    font-size: 24pt;
  }
}

.price-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 18px;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .price-grid-container {
    grid-template-columns: 1fr;
  }
}
.price-grid-container .price-item {
  display: flex;
  flex-direction: column;
  padding: 20px 3% 20px 3%;
  border: 1px solid var(--light-opacity50);
  border-radius: 40px;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  width: 100%;
}
.price-grid-container .price-item .price-service-title {
  color: var(--light);
  font-size: 16pt;
  padding-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .price-grid-container .price-item .price-service-title {
    font-size: 14pt;
  }
}
@media screen and (max-width: 320px) {
  .price-grid-container .price-item .price-service-title {
    font-size: 12pt;
  }
}
.price-grid-container .price-item .price-service-description {
  color: var(--light-opacity70);
  font-size: 14pt;
  white-space: pre-line;
}
@media screen and (max-width: 768px) {
  .price-grid-container .price-item .price-service-description {
    font-size: 12pt;
  }
}
@media screen and (max-width: 320px) {
  .price-grid-container .price-item .price-service-description {
    font-size: 10pt;
  }
}
.price-grid-container .price-service-image {
  display: block;
  border-radius: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 100%;
}

.get-in-touch-section {
  padding: 32px 1% 64px 1%;
}

.get-in-touch-container {
  background: linear-gradient(65.7deg, #000000 33.33%, #7876F2 125.28%);
  padding: 80px 4% 128px 4%;
  border-radius: 70px;
  display: flex;
  flex-direction: column;
}

.form-description {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .form-description {
    flex-direction: column;
    margin-bottom: 40px;
    text-align: center;
  }
}
.form-description .get-in-touch-title {
  flex: 1;
  color: var(--white);
  font-size: 48pt;
  line-height: 1.3;
  font-family: "Abril Fatface", serif;
}
@media screen and (max-width: 768px) {
  .form-description .get-in-touch-title {
    font-size: 32pt;
  }
}
@media screen and (max-width: 320px) {
  .form-description .get-in-touch-title {
    font-size: 24pt;
  }
}
.form-description .get-in-touch-description {
  font-family: "Abril Fatface", serif;
  flex: 1;
  color: var(--light-opacity50);
  font-size: 16pt;
  line-height: 1.5;
}
.form-description .get-in-touch-description .get-in-touch-link {
  text-decoration: underline;
  color: var(--white);
  width: 100%;
}
@media screen and (max-width: 768px) {
  .form-description .get-in-touch-description {
    font-size: 12pt;
  }
}
@media screen and (max-width: 320px) {
  .form-description .get-in-touch-description {
    font-size: 10pt;
  }
}

.forms-container {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .forms-container {
    flex-direction: column;
    align-items: center;
  }
}

.form-wrapper {
  flex: 1;
}
.form-wrapper .form-container {
  display: flex;
  flex-direction: column;
}
.form-wrapper .form-container .text-field {
  display: block;
  background-color: transparent;
  color: var(--white);
  border: 0;
  outline: 0;
  padding-bottom: 16px;
  font-size: 16pt;
  border-bottom: 1px solid var(--white);
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
.form-wrapper .form-container .text-field:last-of-type {
  margin-bottom: 0;
}
.form-wrapper .form-button {
  align-self: center;
  width: 100%;
  background-color: var(--white);
  border: 0;
}
.form-wrapper .form-button .form-button-label {
  color: var(--blue);
}
.form-wrapper .form-button .form-button-icon {
  color: var(--blue);
}
.form-wrapper .form-button:hover {
  opacity: 0.9;
}

.margin {
  margin-top: 24px;
}

.margin-top80 {
  margin-top: 80px;
}

.outline-button {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 80px;
  margin-bottom: 24px;
}
.outline-button .form-button-label {
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0%;
  font-size: 14pt;
  color: var(--white);
  text-transform: uppercase;
  margin-right: 20px;
}
.outline-button .form-button-icon {
  width: 24px;
  height: 24px;
  color: var(--white);
}

.mw-180 {
  max-width: 180px;
}

.mw-280 {
  max-width: 280px;
}

.mw-348 {
  max-width: 348px;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.footer {
  border-top: 1px solid var(--light-opacity50);
  padding: 24px 4% 80px 4%;
  gap: 16px;
  justify-content: space-between;
  font-family: "ABeeZee", sans-serif;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    grid-template-columns: 1fr;
  }
}

.contacts-block {
  display: flex;
  flex-direction: column;
}
.contacts-block .logo {
  width: 40px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .contacts-block .logo {
    width: 32px;
  }
}
@media screen and (max-width: 320px) {
  .contacts-block .logo {
    width: 24px;
  }
}
.contacts-block .company-email {
  text-decoration: underline;
  color: var(--blue);
  font-size: 16pt;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .contacts-block .company-email {
    font-size: 14pt;
  }
}
@media screen and (max-width: 320px) {
  .contacts-block .company-email {
    font-size: 10pt;
  }
}
.contacts-block .social-media-container {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.contacts-block .social-media-container .icon-container {
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .contacts-block .social-media-container .icon-container {
    width: 48px;
    height: 48px;
  }
}
@media screen and (max-width: 320px) {
  .contacts-block .social-media-container .icon-container {
    width: 32px;
    height: 32px;
  }
}
.contacts-block .contact-us-button {
  border: 0;
  background-color: var(--blue);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 48px;
}
.contacts-block .contact-us-button .form-button-label {
  color: var(--white);
}
.contacts-block .contact-us-button:hover {
  opacity: 0.9;
}

.offices-block {
  display: flex;
  flex-direction: column;
}
.offices-block .offices-title {
  color: var(--light);
  font-size: 18pt;
  margin-bottom: 48px;
}
@media screen and (max-width: 768px) {
  .offices-block .offices-title {
    font-size: 16pt;
  }
}
@media screen and (max-width: 320px) {
  .offices-block .offices-title {
    font-size: 14pt;
  }
}
.offices-block .offices-address-container {
  margin-bottom: 24px;
}
.offices-block .offices-address-container .office-city {
  color: var(--blue);
  font-size: 16pt;
}
@media screen and (max-width: 768px) {
  .offices-block .offices-address-container .office-city {
    font-size: 14pt;
  }
}
@media screen and (max-width: 320px) {
  .offices-block .offices-address-container .office-city {
    font-size: 12pt;
  }
}
.offices-block .offices-address-container .office-address {
  color: var(--light-opacity50);
  font-size: 16pt;
}
@media screen and (max-width: 768px) {
  .offices-block .offices-address-container .office-address {
    font-size: 14pt;
  }
}
@media screen and (max-width: 320px) {
  .offices-block .offices-address-container .office-address {
    font-size: 12pt;
  }
}
.offices-block .offices-address-container :not(:last-child) {
  margin-bottom: 10px;
}
.offices-block .developer-container .developer-title {
  color: var(--light);
  font-size: 18pt;
  margin-bottom: 16px;
}
@media screen and (max-width: 768px) {
  .offices-block .developer-container .developer-title {
    font-size: 16pt;
  }
}
@media screen and (max-width: 320px) {
  .offices-block .developer-container .developer-title {
    font-size: 14pt;
  }
}
.offices-block .developer-container .developer-contact {
  color: var(--blue);
  font-size: 16pt;
}
@media screen and (max-width: 768px) {
  .offices-block .developer-container .developer-contact {
    font-size: 14pt;
  }
}
@media screen and (max-width: 320px) {
  .offices-block .developer-container .developer-contact {
    font-size: 12pt;
  }
}

.services-block {
  display: flex;
  flex-direction: column;
}
.services-block .service-title {
  color: var(--light);
  font-size: 18pt;
  margin-bottom: 28px;
}
@media screen and (max-width: 768px) {
  .services-block .service-title {
    font-size: 16pt;
  }
}
@media screen and (max-width: 320px) {
  .services-block .service-title {
    font-size: 14pt;
  }
}
.services-block .service-item {
  color: var(--blue);
  font-size: 16pt;
  cursor: pointer;
}
.services-block .service-item:hover {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .services-block .service-item {
    font-size: 14pt;
  }
}
@media screen and (max-width: 320px) {
  .services-block .service-item {
    font-size: 12pt;
  }
}
.services-block .service-item:not(:last-child) {
  margin-bottom: 32px;
}/*# sourceMappingURL=style.css.map */